doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1
        include ../slides/slide-2
        include ../slides/slide-3
        include ../slides/slide-4
        include ../slides/slide-5
        include ../slides/slide-6
        include ../slides/slide-7
        include ../slides/slide-8
        include ../slides/slide-9
        include ../slides/slide-10
        include ../slides/slide-11
        include ../slides/slide-12
        include ../slides/slide-13
        include ../slides/slide-14
        include ../slides/slide-16
        include ../slides/slide-15
        include ../slides/slide-17
        include ../slides/slide-18
        include ../slides/slide-19
        include ../slides/slide-20
        include ../slides/slide-21
        include ../slides/slide-22
        include ../slides/slide-23
        include ../slides/slide-24
        include ../slides/slide-25
        include ../slides/slide-26
        include ../slides/slide-27
        include ../slides/slide-28
        include ../slides/slide-29
        include ../slides/slide-30
        include ../slides/slide-31
        include ../slides/slide-32
    include inc/scripts
